.fierst__content {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.fierst__image {
    object-fit: cover;
    width: 700px;
    height: 550px;
}
.fierst__content_info {
    margin: 30px;
    padding: 30px;
}
.fierst__content_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}
.fierst__content_description {
    padding: 20px 0 33px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}